-- WezTerm config (managed by chezmoi).
-- Entrypoint: loads modular config from modules/.

local wezterm = require 'wezterm'
local config = wezterm.config_builder()

require('modules.font').apply(config)
require('modules.shell').apply(config)
require('modules.appearance').apply(config)
require('modules.status').apply(config)
require('modules.keys').apply(config)

return config
