local wezterm = require 'wezterm'

local M = {}

function M.apply(config)
    config.font = wezterm.font_with_fallback({
        '{{ .defaultFont }}',
        'JetBrainsMono Nerd Font',
        'Maple Mono NF',
        'Symbols Nerd Font Mono',
    })
    {{- if eq .chezmoi.os "darwin" }}
    config.font_size = 13.0
    {{- else }}
    config.font_size = 10.0
    {{- end }}
    config.line_height = 1.10
    config.harfbuzz_features = { 'calt=1', 'clig=1', 'liga=1' }
end

return M
